extends layout
//bs comment more bs

block content
  //link(rel='stylesheet', href='/stylesheets/login.css')
  form(action="/api/login" method="POST" enctype="application/x-www-form-urlencoded")
    input(type="text" name="username")
    input(type="password" name="password")
    button(type="submit") Login
